@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 44 67% 96%; /* F2E3BB Lightened */
    --foreground: 121 100% 5%;
    --card: 0 0% 100%;
    --card-foreground: 121 100% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 121 100% 5%;
    --primary: 121 100% 19%; /* 005F02 */
    --primary-foreground: 0 0% 100%;
    --secondary: 53 35% 62%; /* C0B87A */
    --secondary-foreground: 0 0% 100%;
    --muted: 44 30% 90%;
    --muted-foreground: 121 20% 30%;
    --accent: 121 30% 37%; /* 427A43 */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 121 20% 90%;
    --input: 121 20% 90%;
    --ring: 121 100% 19%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 121 100% 5%;
    --foreground: 44 67% 96%;
    --card: 121 100% 7%;
    --card-foreground: 44 67% 96%;
    --popover: 121 100% 7%;
    --popover-foreground: 44 67% 96%;
    --primary: 121 100% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 53 35% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 121 30% 15%;
    --muted-foreground: 44 20% 70%;
    --accent: 121 30% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 121 30% 20%;
    --input: 121 30% 20%;
    --ring: 121 100% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Leaflet container height fix */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}
