
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 25% 96%;
    --foreground: 258 60% 10%;
    --card: 0 0% 100%;
    --card-foreground: 258 60% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 258 60% 10%;
    --primary: 258 60% 44%;
    --primary-foreground: 0 0% 100%;
    --secondary: 213 90% 63%;
    --secondary-foreground: 0 0% 100%;
    --muted: 250 10% 90%;
    --muted-foreground: 258 20% 40%;
    --accent: 213 90% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 258 20% 90%;
    --input: 258 20% 90%;
    --ring: 258 60% 44%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 258 60% 5%;
    --foreground: 250 25% 96%;
    --card: 258 60% 8%;
    --card-foreground: 250 25% 96%;
    --popover: 258 60% 8%;
    --popover-foreground: 250 25% 96%;
    --primary: 258 60% 60%;
    --primary-foreground: 258 60% 10%;
    --secondary: 213 90% 70%;
    --secondary-foreground: 258 60% 10%;
    --muted: 258 30% 20%;
    --muted-foreground: 258 20% 70%;
    --accent: 213 90% 70%;
    --accent-foreground: 258 60% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 258 30% 20%;
    --input: 258 30% 20%;
    --ring: 258 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
